<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Superhero Index</title>
</head>
<body>
    <!-- Add bootstrap cdn -->
    <!-- Wrap everything in a class containter, then a class row -->
    <!-- Add an empty col-3 before the list -->
    <!-- Put the list in a col-6 -->
    <!-- Add an empty col-3 after the list -->
    <div class="container">
    <h1>Superheroes</h1>
    <div class="row">
        <div class="col-sm-3" style="background-color:lavender;"><div></div> </div>
        <div class="col-sm-6" style="background-color:rgb(226, 237, 253);"><ul>
            {% for hero in all_heroes%}
            <li><h2>{{hero.name}} <br>
                <a href="{% url 'superheroes:detail' hero.id%}">(Click for Details)</a> <br>
                <a href="{% url 'superheroes:edit' hero.id%}">(Click to edit Hero)</a> <br>
                <a href="{% url 'superheroes:delete' hero.id%}">(Click to delete Hero)</a></h2></li>
            {% endfor %}
            </ul>
            <h3><a href="{% url 'superheroes:create' %}">Add New Hero</a> </h3><br>
            {% load static %}
            <img src="{% static 'spiderman.jpg' %}" alt="My image">
            </div>
        <div class="col-sm-3" style="background-color:lavender;"></div>
    
    </div>
</body>
</html>